#butterfly {
    width: 150px;
    z-index: 3;
    position: fixed;
    top: -5%;
    left: 10%;
    transition: transform 0.5s ease; 
}

#butterfly:hover {
  transform: rotate(360deg); 
}

#butterfly1 {
    width: 150px;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 5%;
    transition: transform 0.5s ease;
}

#butterfly1:hover {
    transform: scale(1.2);
}

#butterfly27 {
    width: 150px;
    z-index: 1;
    position: absolute;
    left: 13%;
    bottom: 25%;
    transition: transform 0.5s ease;
}

#butterfly27:hover {
    transform: scale(1.2);
}

#butterfly2 {
    width: 30px;
    z-index: 1;
    position: absolute;
    right: 54%;
    top: 38%;
    transition: transform 0.5s ease;
}

#butterfly2:hover {
    transform: translateX(-10px);
}

#butterfly26 {
    width: 150px;
    z-index: 1;
    position: absolute;
    right: 2%;
    top: 25%;
    transition: transform 0.5s ease;
}

#butterfly26:hover {
    transform: translateX(-15px);
}

#butterfly3 {
    width: 50px;
    z-index: 1;
    position: absolute;
    left: 60%;
    bottom: 10%;
    transition: transform 0.5s ease;
}

#butterfly3:hover {
    transform: scale(1.2);
}

#butterfly25 {
    width: 80px;
    z-index: 1;
    position: absolute;
    right: 25%;
    top: 40%;
    transition: transform 0.5s ease;
}

#butterfly25:hover {
    transform: scale(1.2);
}

#butterfly5 {
    width: 120px;
    z-index: 1;
    position: absolute;
    left: 20%;
    bottom: 10%;
    transition: transform 0.5s ease;
}

#butterfly5:hover {
    transform: translateX(10px);
}

#butterfly24 {
    width: 70px;
    z-index: 1;
    position: absolute;
    left: 50%;
    bottom: 6%;
    transition: transform 0.5s ease;
}

#butterfly24:hover {
    transform: translateX(30px);
}

#butterfly6 {
    width: 30px;
    z-index: 1;
    position: absolute;
    right: 48%;
    top: 38%;
    transition: transform 0.5s ease;
}

#butterfly6:hover {
    transform: scale(1.6);
}

#butterfly23 {
    width: 40px;
    z-index: 1;
    position: absolute;
    right: 38%;
    top: 28%;
    transition: transform 0.5s ease;
}

#butterfly23:hover {
    transform: scale(1.4);
}

#butterfly32 {
    width: 45px;
    z-index: 1;
    position: absolute;
    left: 17%;
    bottom: 8%;
    transition: transform 0.5s ease;
}

#butterfly32:hover {
    transform: scale(1.4);
}

#butterfly7 {
    width: 50px;
    z-index: 1;
    position: absolute;
    right: 25%;
    top: 30%;
    transition: transform 0.5s ease;
}

#butterfly7:hover {
    transform: translateX(-10px);
}

#butterfly21 {
    width: 60px;
    z-index: 1;
    position: absolute;
    right: 45%;
    top: 25%;
    transition: transform 0.5s ease;
}

#butterfly21:hover {
    transform: translateX(-20px);
}

#butterfly22 {
    width: 70px;
    z-index: 1;
    position: absolute;
    right: 40%;
    top: 35%;
    transition: transform 0.5s ease;
}

#butterfly22:hover {
    transform: translateX(-20px);
}

#butterfly28 {
    width: 120px;
    z-index: 1;
    position: absolute;
    right: 17%;
    top: 50%;
    transition: transform 0.5s ease;
}

#butterfly28:hover {
    transform: translateX(-30px);
}

#butterfly8 {
    width: 80px;
    z-index: 1;
    position: absolute;
    left: 25%;
    bottom: 25%;
    transition: transform 0.5s ease;
}

#butterfly8:hover {
    transform: translateX(10px);
}

#butterfly19 {
    width: 40px;
    z-index: 1;
    position: absolute;
    left: 45%;
    bottom: 25%;
    transition: transform 0.5s ease;
}

#butterfly19:hover {
    transform: translateX(30px);
}

#butterfly20 {
    width: 50px;
    z-index: 1;
    position: absolute;
    left: 60%;
    bottom: 25%;
    transition: transform 0.5s ease;
}

#butterfly20:hover {
    transform: translateX(30px);
}

#butterfly9 {
    width: 50px;
    z-index: 1;
    position: absolute;
    left: 32%;
    bottom: 30%;
    transition: transform 0.5s ease;
}

#butterfly9:hover {
    transform: translateX(10px);
}

#butterfly17 {
    width: 60px;
    z-index: 1;
    position: absolute;
    left: 40%;
    bottom: 10%;
    transition: transform 0.5s ease;
}

#butterfly17:hover {
    transform: translateX(30px);
}

#butterfly18 {
    width: 55px;
    z-index: 1;
    position: absolute;
    left: 55%;
    bottom: 20%;
    transition: transform 0.5s ease;
}

#butterfly18:hover {
    transform: translateX(20px);
}

#butterfly30 {
    width: 210px;
    z-index: 1;
    position: absolute;
    left: 1%;
    bottom: 30%;
    transition: transform 0.5s ease;
}

#butterfly30:hover {
    transform: translateX(20px);
}

#butterfly29 {
    width: 210px;
    z-index: 1;
    position: absolute;
    left: 3%;
    bottom: 6%;
    transition: transform 0.5s ease;
}

#butterfly29:hover {
    transform: translateX(30px);
}

#butterfly10 {
    width: 30px;
    z-index: 1;
    position: absolute;
    left: 65%;
    bottom: 10%;
    transition: transform 0.5s ease;
}

#butterfly10:hover {
    transform: scale(1.8);
}

#butterfly33 {
    width: 70px;
    z-index: 1;
    position: absolute;
    left: 1%;
    bottom: 25%;
    transition: transform 0.5s ease;
}

#butterfly33:hover {
    transform: scale(1.3);
}

#butterfly31 {
    width: 80px;
    z-index: 1;
    position: absolute;
    left: 28%;
    bottom: 5%;
    transition: transform 0.5s ease;
}

#butterfly31:hover {
    transform: scale(1.3);
}

#butterfly11 {
    width: 50px;
    z-index: 1;
    position: absolute;
    right: 35%;
    top: 20%;
    transition: transform 0.5s ease;
}

#butterfly11:hover {
    transform: translateX(-10px);
}

#butterfly15 {
    width: 60px;
    z-index: 1;
    position: absolute;
    right: 32%;
    top: 35%;
    transition: transform 0.5s ease;
}

#butterfly15:hover {
    transform: translateX(-10px);
}

#butterfly16 {
    width: 55px;
    z-index: 1;
    position: absolute;
    right: 50%;
    top: 28%;
    transition: transform 0.5s ease;
}

#butterfly16:hover {
    transform: translateX(-10px);
}

#butterfly12 {
    width: 200px;
    z-index: 1;
    position: absolute;
    left: 30%;
    bottom: 10%;
    transition: transform 0.5s ease;
}

#butterfly12:hover {
    transform: translateX(10px);
}

#butterfly13 {
    width: 120px;
    z-index: 1;
    position: absolute;
    right: 27%;
    top: 25%;
    transition: transform 0.5s ease;
}

#butterfly13:hover {
    transform: translateX(-10px);
}

#butterfly14 {
    width: 260px;
    z-index: 1;
    position: absolute;
    right: 10%;
    top: 20%;
    /* animation: moveRTLandBTT 5s linear infinite;
    white-space: nowrap; */
    transition: transform 0.5s ease;
}

#butterfly14:hover {
    transform: translateX(-10px);
}

@keyframes moveRTL {
    0% {
        transform: translatex(50%);
    }
    50% {
        transform: translatex(-50%);
    }
    100% {
        transform: translatex(50%);
    }
}

@keyframes moveRTLandBTT {
    0% {
        transform: translate(50%, -20%);
    }
    50% {
        transform: translate(-50%, 20%);
    }
    100% {
        transform: translate(50%, -20%);
    }
}

@keyframes rotateHalf {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


@keyframes rotateAndMove {
    0% {
        transform: translate(50%, -20%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, 20%) rotate(-20deg);
    }
    100% {
        transform: translate(50%, -20%) rotate(0deg);
    }
}

@keyframes around {
    0% {
        transform: translate(50%, -20%) rotate(360deg);
    }
    50% {
        transform: translate(-50%, 20%) rotate(-360deg);
    }
    100% {
        transform: translate(50%, -20%) rotate(360deg);
    }
}